<% if @users.blank? %>
  <p>There are not any users currently in the system.</p>
<% else %>
  <h1>All users</h1>
  <main>
    <ul class="users_list">
      <% @users.each do |user| %>
        
          <li class="list_item">
          
          <a class="link" href="/users/<%= user.id %>">
          
            <div class="photo">
             <% if user && user.photo %>
  <%= image_tag(user.photo) %>
<% end %>
            </div>
            <div class="user_name">
              <h3><%= user.name %></h3>
              <p>Number of posts: <%= user.postsCounter %></p>
            </div>
            </a>
          </li>
        
      <% end %>
    </ul>
     <div class="button_holder">
      <button class="create_post_btn">
          <%= link_to 'Create new post', new_user_post_path(user_id: @current_user.id) %>
      </button>
    </div>

     
  </main>
<% end %>