<main>
    <div class="list_item">
        <div class="photo">
           <% if @user && @user.photo %>
  <%= image_tag(@user.photo) %>
<% end %>
        </div>
        <div class="user_name">
            <h3><%= @user.name %></h3>
            <p>Number of posts: <%= @user.postsCounter %></p>
        </div>
    </div>
    <div class="bio">
        <h4>Bio</h4> <br/>
        <p><%= @user.bio%></p>
    </div>
    <ul class="list">
        <% @user.recent_post.each do |post|%>
        <a href="/users/<%=@user.id%>/posts/<%= post.id %>">
            <li class="text">
                <h4>Post #<%= post.id %></h4><br/>
                <p><%= post.text %></p>
                <p class="float">Comments:<%= post.comments.count %>, Likes: <%= post.likes.count %></p>
            </li>
        </a>
        <% end %>
    </ul>
    <div class="btn_container">

       <a href="/users/<%=@user.id%>/posts" >
           See all posts
        </a>
        
    </div>
     <div class="button_holder">
      <button class="create_post_btn">
          <%= link_to 'Create new post', new_user_post_path(user_id: @current_user.id) %>
      </button>
    </div>
</main>